<!-- add-card.component.html -->
<h2 mat-dialog-title>Añadir Tarjeta de Crédito</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()" class="credit-card-form">
    <mat-form-field appearance="fill">
      <mat-label>Número de Tarjeta</mat-label>
      <input matInput type="text" formControlName="cardNumber" placeholder="Introduce el número de la tarjeta" required>
      <mat-error *ngIf="creditCardForm.get('cardNumber')?.errors?.['required']">
        Debe rellenar el campo número de tarjeta.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre del Titular</mat-label>
      <input matInput type="text" formControlName="cardHolderName" placeholder="Introduce nombre del titular" required>
      <mat-error *ngIf="creditCardForm.get('cardHolderName')?.errors?.['required']">
        Debe rellenar el campo nombre del titular.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Expiración</mat-label>
      <input matInput type="text" formControlName="expirationDate" placeholder="MM/YY" required>
      <mat-error *ngIf="creditCardForm.get('expirationDate')?.errors?.['required']">
        Debe rellenar el campo fecha de expiración.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Código de Seguridad</mat-label>
      <input matInput type="text" formControlName="securityCode" placeholder="Introduce código de seguridad" required>
      <mat-error *ngIf="creditCardForm.get('securityCode')?.errors?.['required']">
        Debe rellenar el campo código de seguridad.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>PIN</mat-label>
      <input matInput type="text" formControlName="PIN" placeholder="Introduce el PIN deseado" required>
      <mat-error *ngIf="creditCardForm.get('PIN')?.errors?.['required']">
        Debe rellenar el campo nombre del titular.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de Tarjeta</mat-label>
      <mat-select formControlName="cardType">
        <mat-option value="credito">Crédito</mat-option>
        <mat-option value="debito">Débito</mat-option>
        <mat-option value="prepago">Prepago</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!creditCardForm.valid">Añadir Tarjeta</button>
      <button mat-button (click)="closeDialog()">Cerrar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
