<app-header></app-header>

<div class="recuadroverde2">
    <div class="recuadroverde1">
      <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
      </div>
      <div class="div2">
        <p>Gestión de Tarjetas</p>
      </div>
  </div>

  <div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0px">
    <app-btn-add-tarjeta></app-btn-add-tarjeta>
    <app-btn-mod-tarjeta></app-btn-mod-tarjeta>
    <app-btn-del-tarjeta></app-btn-del-tarjeta>
  </div>

  <div class="tarjeta">
    <app-tarjetavisual></app-tarjetavisual><br>
  </div>


      