<app-header></app-header>

<div class="recuadroverde2">
  <div class="breadcrumbs">
    <div class="div2">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="full-width-container">
    <div fxFlex="49" fxFlex.xs="100" class="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Buscar por</mat-label>
        <mat-select [(value)]="selectedColumn">
          <mat-option *ngFor="let column of filteredColumns" [value]="column">
            {{ column | translateColumn }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Búsqueda</mat-label>
        <input matInput #input (input)="applyFilter(input.value)" placeholder="Escribe para buscar...">
      </mat-form-field>
    </div>

    <div fxFlex="2" fxFlex.xs="0" class="spacer"></div>
    <div fxFlex="49" fxFlex.xs="100" class="button-container">
    <div *ngIf="(userRoleMessage$ | async) === 'Super Admin' || (userRoleMessage$ | async) === 'Bienvenido empleado'">
                
        <app-btn-add-tarjeta>
        </app-btn-add-tarjeta>

       </div>
     </div>
   </div>

  <div class="table">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 my-custom-table" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.id}} </mat-cell>
      </ng-container>

      <!-- Card Holder Name Column -->
      <ng-container matColumnDef="cardHolderName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Titular </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.cardHolderName}} </mat-cell>
      </ng-container>

      <!-- Card Number Column -->
      <ng-container matColumnDef="cardNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Número </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.cardNumber}} </mat-cell>
      </ng-container>

      <!-- Card Type Column -->
      <ng-container matColumnDef="cardType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.cardType}} </mat-cell>
      </ng-container>

      <!-- Expiration Date Column -->
      <ng-container matColumnDef="expirationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Caducidad </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{ tarjeta.expirationDate | date }} </mat-cell>
      </ng-container>

      <!-- Security Code Column -->
      <ng-container matColumnDef="securityCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CVC </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.securityCode}} </mat-cell>
      </ng-container>

      <!-- Account ID Column -->
      <ng-container matColumnDef="account_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID Cuenta </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.account_id}} </mat-cell>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="saldo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.saldo}} </mat-cell>
      </ng-container>

      <!-- PIN Column -->
      <ng-container matColumnDef="PIN">
        <mat-header-cell *matHeaderCellDef mat-sort-header> PIN </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta"> {{tarjeta.PIN}} </mat-cell>
      </ng-container>

      <!-- Gestionar Column -->
      <ng-container matColumnDef="gestionar" stickyEnd>
        <mat-header-cell *matHeaderCellDef class="gestionar-header"> Gestionar </mat-header-cell>
        <mat-cell *matCellDef="let tarjeta">
          <div class="button-container2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" *ngIf="(userRoleMessage$ | async) === 'Super Admin' || (userRoleMessage$ | async) === 'Bienvenido empleado'">
            <app-btn-mod-tarjeta [tarjetaSeleccionada]="tarjeta"></app-btn-mod-tarjeta>
            <app-btn-del-tarjeta [tarjetaSeleccionada]="tarjeta"></app-btn-del-tarjeta>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-elevation-z8 my-custom-table"></mat-paginator>
  </div>
</div>
