<app-header></app-header>

<div class="recuadroverde2">
    <div class="recuadroverde1">
      <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
      </div>
      <div class="div2">
        <p>Gestión de Tarjetas</p>
      </div>
  </div>

  <table class="TablaCJ">
    <thead>
        <tr>
            <th>ID Tarjeta</th>
            <th>Número de tarjeta</th>
            <th>Nombre figurado en la tarjeta</th>
            <th>Fecha de alta</th>
            <th>Gestionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarjeta of tarjetas">
          <td>{{ tarjeta.id }}</td>
          <td>{{ tarjeta.card_number }}</td>
          <td>{{ tarjeta.clientName }}</td>
          <td>{{ tarjeta.created_at | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td><app-botonestabla></app-botonestabla></td>
        </tr>
    </tbody>
</table>

