<div class="header">
  <a href="#default" class="logo"><div class="img"><img src="../../assets/img/cajamar-logo.png" name="cajamar_logo"></div></a>
  <div class="header-left">
    <a class="active" href="#clientes">Clientes</a>
    <a href="#cuentas">Cuentas</a>
    <a href="#transferencias">Transferencias</a>
  </div>
  <div class="header-right">
    <a class="active" href="#usuario">Usuario</a>
    <a class="active" href="#icon-user"><img src="../../assets/img/icon-user.svg" name="cajamar_logo" class="icon-user"></a>
  </div>
</div>
