<app-header></app-header>

<div class="recuadroverde2">
  <div class="breadcrumbs">
    <div class="div2">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="full-width-container">
    <div fxFlex="49" fxFlex.xs="100" class="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Buscar por</mat-label>
        <mat-select [(value)]="selectedColumn">
          <mat-option *ngFor="let column of filteredColumns" [value]="column">
            {{ column | translateColumn }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Búsqueda</mat-label>
        <input matInput #input (input)="applyFilter(input.value)" placeholder="Escribe para buscar...">
      </mat-form-field>
    </div>

    <div fxFlex="2" fxFlex.xs="0" class="spacer"></div>

    <div fxFlex="49" fxFlex.xs="100" class="button-container">
      <app-btn-add-transfer></app-btn-add-transfer>
    </div>
  </div>

  <div class="table">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 my-custom-table" matSort>
      <ng-container matColumnDef="id" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID </mat-header-cell>
        <mat-cell *matCellDef="let transferencia"> {{transferencia.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="from_account">
        <mat-header-cell *matHeaderCellDef mat-sort-header="from_account"> Cuenta de Origen </mat-header-cell>
        <mat-cell *matCellDef="let transferencia"> {{ transferencia.from_account_id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="to_account">
        <mat-header-cell *matHeaderCellDef mat-sort-header="to_account"> Cuenta de Destino </mat-header-cell>
        <mat-cell *matCellDef="let transferencia"> {{ transferencia.to_account_id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header="amount"> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let transferencia"> {{transferencia.amount | euroCurrency}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="currency">
        <mat-header-cell *matHeaderCellDef mat-sort-header="currency"> Moneda </mat-header-cell>
        <mat-cell *matCellDef="let transferencia"> {{transferencia.currency}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header="description"> Descripción </mat-header-cell>
        <mat-cell *matCellDef="let transferencia"> {{transferencia.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header="date"> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let transferencia"> {{ transferencia.created_at | date: 'dd/MM/yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef class="gestionar-header"> Gestionar </mat-header-cell>
        <mat-cell *matCellDef="let transferencia">
          <div class="button-container2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
            <app-btn-mod-transfer [transferencia]="transferencia"></app-btn-mod-transfer>
            <app-btn-del-transfer [transferencia]="transferencia"></app-btn-del-transfer>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-elevation-z8 my-custom-table"></mat-paginator>
  </div>
</div>
