<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="'/'"><mat-icon>home</mat-icon></a>
    </li>
    <li class="breadcrumb-item">
      <i class="arrow"><mat-icon>chevron_right</mat-icon></i>
    </li>
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let last = last" [ngClass]="{ 'active': last }">
      <a *ngIf="!last" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      <span *ngIf="last">{{ breadcrumb.label }}</span>
    </li>
  </ol>
</nav>
