<app-header></app-header>

<div class="recuadroverde2">
  <div class="recuadroverde1">
    <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
    </div>
    <div class="div2">
      <p>Gestión de Cuentas </p> <app-btn-add-account></app-btn-add-account>
    </div>
  </div>

  <table class="TablaCJ">
    <thead>
      <tr>
        <th>ID Cuenta</th>
        <th>Número de cuenta</th>
        <th>Cliente</th>
        <th>Fecha de alta</th>
        <th>Gestionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cuenta of cuentas">
        <td>{{ cuenta.id }}</td>
        <td>{{ cuenta.account_number }}</td>
        <td>{{ cuenta.clientName }}</td>
        <td>{{ cuenta.created_at | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td><app-botonestabla></app-botonestabla></td>
      </tr>
    </tbody>
  </table>
