<h2 mat-dialog-title>Modificar Tarjeta</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="tarjetaForm" class="tarjeta-form">
    <!-- Campos del formulario -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Número de Tarjeta</mat-label>
      <input matInput type="text" formControlName="cardNumber" placeholder="Introduce número de tarjeta" required>
      <mat-error *ngIf="tarjetaForm.get('cardNumber')?.errors?.['required']">
        El campo número de tarjeta es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Titular de la Tarjeta</mat-label>
      <mat-select formControlName="cardHolderName" required>
        <mat-option *ngFor="let cliente of clientes" [value]="cliente.name">
          {{ cliente.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tarjetaForm.get('cardHolderName')?.errors?.['required']">
        Debes seleccionar un titular.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha de Caducidad</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expirationDate" placeholder="Selecciona fecha de vencimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="tarjetaForm.get('expirationDate')?.errors?.['required']">
        Debes seleccionar la fecha de caducidad.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!tarjetaForm.valid" (click)="onSubmit()">Actualizar</button>
  <button mat-button (click)="closeDialog()">Cerrar</button>
</mat-dialog-actions>
