<app-headerlanding></app-headerlanding>

<input type="button" [routerLink]="['', { outlets: { auth: ['login'] } }]">

<main>
  <img src="../../../assets/img/logo_letras.png" alt="Logo Grande">
  <h2>
    En VN Bank, llevamos la innovación a otro nivel al impulsar audacia y creatividad en todas nuestras operaciones financieras. Nuestra institución es un campo de juego donde lo convencional se convierte en extraordinario, inspirados por un espíritu rebelde y la búsqueda constante de experiencias financieras auténticamente inolvidables.
  </h2>
</main>

<app-memoji></app-memoji>

<div class="contenedor uno">
  <h3>Seguridad Financiera</h3><br>
  <p>En VN Bank, la seguridad de tus finanzas es nuestra prioridad número uno. Con tecnología de vanguardia y protocolos de seguridad sólidos, puedes realizar transacciones con total tranquilidad, sabiendo que tus activos están protegidos en todo momento.</p>
  <div class="loguillo" style="margin-top: -150px;"><img src="../../../assets/img/1 (2).png" alt=""></div>
</div>

<div class="contenedor dos">
  <h3>Servicio Personalizado</h3><br>
  <p>En VN Bank, creemos en la importancia de la atención personalizada. Nuestro equipo de expertos financieros está dedicado a entender tus necesidades individuales y ofrecerte soluciones a medida que impulsen tu éxito financiero. Con nosotros, recibirás un trato único y especializado.</p>
  <div class="loguillo"><img src="../../../assets/img/2.png" alt=""></div>
</div>

<div class="contenedor tres">
  <h3>Innovación Financiera</h3><br>
  <p>Descubre la vanguardia de la banca con VN Bank. Nos esforzamos por estar a la vanguardia de la innovación financiera, ofreciendo herramientas digitales avanzadas, opciones de inversión innovadoras y servicios que hacen que gestionar tus finanzas sea más fácil y eficiente que nunca.</p>
  <div class="loguillo"><img src="../../../assets/img/3.png" alt=""></div>
</div>

<div class="contenedor cuatro">
  <h3>Compromiso Social</h3><br>
  <p>En VN Bank, no solo nos preocupamos por tu bienestar financiero, también nos importa el bienestar de la comunidad. Nos involucramos activamente en iniciativas sociales y ambientales que generan un impacto positivo en el mundo. Al unirte a nosotros, también contribuyes a construir un futuro más sostenible y equitativo.</p>
  <div class="loguillo"><img src="../../../assets/img/4.png" alt=""></div>
</div>

<app-footer></app-footer>
