<app-headerlanding></app-headerlanding>

<video src="../../../assets/img/fondo.mp4" autoplay="true" muted="true" loop="true"></video>


<input type="button" [routerLink]="['', { outlets: { auth: ['login'] } }]">

  <main>
    <img src="../../../assets/img/logo_letras.png" alt="Logo Grande">
    <h2>En VN Bank, trascendemos lo ordinario, inyectando audacia y creatividad en cada aspecto de la organización de
      competiciones escolares. Nuestra plataforma es un terreno de juego donde lo convencional se transforma en
      extraordinario, impulsados por un espíritu rebelde y la búsqueda de experiencias auténticamente inolvidables.</h2>
    <a href="register.php" class="boton">Registrarse</a>
  </main>

  <div class="contenedor uno">
    <h3>Compite con compañeros de tu colegio</h3>
    <p>Nuestras competiciones ofrecen un espacio para que las escuelas se sumerjan en el espíritu de competición
      saludable y constructiva. Fomentamos la camaradería y el aprendizaje a través de desafíos deportivos y lúdicos,
      diseñados para unir y fortalecer la comunidad estudiantil.</p>
    <div class="loguillo"><img src="../../../assets/img/1 (2).png" alt=""></div>
  </div>

  <div class="contenedor dos">
    <h3>Torneos y clasificatorios</h3>
    <p>Cada torneo es una odisea de diversión y aprendizaje, un desafío a lo establecido. Rompemos moldes para construir
      comunidades unidas por la adrenalina y la autenticidad, celebrando lo único y lo atrevido. Participa en nuestras
      competiciones, donde la marginalidad se convierte en nuestra principal motivación.</p>
    <div class="loguillo"><img src="../../../assets/img/2.png" alt=""></div>
  </div>

  <div class="contenedor tres">
    <h3>Crea y personaliza tu liga y equipo</h3>
    <p>En VN Bank, tienes el poder de crear y personalizar tus propios equipos y ligas. Nuestra plataforma te permite
      dar vida a tus visiones más audaces, estableciendo un nuevo estándar en la organización de eventos. Cada equipo y
      liga refleja la innovación rebelde, el compromiso con lo alternativo y la audacia en acción.</p>
    <div class="loguillo"><img src="../../../assets/img/3.png" alt=""></div>
  </div>

  <div class="contenedor cuatro">
    <h3>Desbloquea Insignias y Logos Compitiendo</h3>
    <p>A través de la competición, desbloqueas insignias y logos que celebran tus logros y tu espíritu indomable. Cada
      insignia es un símbolo de tu compromiso con lo alternativo, una marca de tu paso por el camino menos transitado.
      En VN Bank, cada competencia es una oportunidad para demostrar tu audacia y tu innovación.</p>
    <div class="loguillo"><img src="../../../assets/img/4.png" alt=""></div>
  </div>


  <footer>
    <a target="_blank" href="https://twitter.com/"><img src="../../../assets/img/x.png" alt=""></a>
    <a target="_blank" href="https://www.linkedin.com"><img src="../../../assets/img/linkedin.png" alt=""></a>
    <a target="_blank" href="https://www.instagram.com/VN Bank_app/"><img src="../../../assets/img/insta.png" alt=""></a>
    <span class="correo1">&copy; 2024 VN Bank</span>
    <span class="correo">Contacto: <a style="color:#729ef7b1"
        href="mailto:vnbanksupport@vnbank.com"></a></span>
  </footer>



