.header {
  background-color: #ffffff;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Aumentar el valor de z-index para asegurarse que esté por encima de todo */
}

.logo-img {
  width: 40px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 10px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin-right: 20px;
  color: #3c6e86;
  text-decoration: none;
}

.menu a:hover {
  color: #69bfe7;
}

.spacer {
  flex: 1 1 auto;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  margin-right: 10px;
  color: #3c6e86;
}

.header-right a:hover {
  color: #69bfe7;
}

.mat-toolbar-row,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrapper {
  margin-top: 60px; /* Añadir margen superior para que el contenido no se superponga con el header */
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  border-radius: 50%;
  padding: 2px;
}

.super-admin {
  border: 2px solid rgb(255, 0, 0);
}

.bienvenido-empleado {
  border: 2px solid rgb(43, 129, 155);
}

.bienvenido-cliente {
  border: 2px solid rgb(139, 228, 255);
}

#userRoleMessage {
  display: none;
}

@media screen and (max-width: 500px) {
  .logo-img {
    margin-bottom: 15px;
  }

  .menu a,
  .header-right a {
    display: block;
    text-align: left;
    margin-top: 10px;
  }

  .header-right {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }

  .mat-toolbar-row {
    flex-wrap: wrap;
  }
}
