<mat-toolbar class="header">

  <nav class="menu" *ngIf="(userRoleMessage$ | async) === 'Super Admin' || (userRoleMessage$ | async) === 'Bienvenido empleado'">
    <a [routerLink]="['', { outlets: { auth: ['main'] } }]" class="logo">
      <img src="../../assets/img/logo.png" name="vn_logo" class="logo-img">
    </a>

    <a mat-button *ngIf="(userRoleMessage$ | async) === 'Super Admin' || (userRoleMessage$ | async) === 'Bienvenido empleado'" [routerLink]="['', { outlets: { auth: ['usuario'] } }]">Usuarios</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['cliente'] } }]">Clientes</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['cuentas'] } }]">Cuentas</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['tarjetas'] } }]">Tarjetas</a>

  </nav>

  <nav class="menu" *ngIf="(userRoleMessage$ | async) === 'Bienvenido cliente'">
    <a [routerLink]="['', { outlets: { auth: ['maincliente'] } }]" class="logo">
      <img src="../../assets/img/logo.png" name="vn_logo" class="logo-img">
    </a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['cuentas'] } }]">Cuentas</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['tarjetas'] } }]">Tarjetas</a>
  </nav>

  <span class="spacer"></span>

  <div class="header-right">
    <a mat-button href="#usuario">{{ userName$ | async }}</a>
    <a id="userRoleMessage" mat-button href="#usuario">{{ userRoleMessage$ | async }}</a>
    <a mat-button href="#icon-user">
      <img src="../../assets/img/icon-user.svg" name="cajamar_logo" class="icon" [ngClass]="userRoleClass$ | async">
    </a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['landing'] } }]">
      <img src="../../assets/img/icon-logout.svg" name="cajamar_logo" id="icon-logout" class="icon">
    </a>
  </div>
</mat-toolbar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
