.header {
  background-color: #ffffff;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo-img {
  width: 80px;
  margin-top: 10px;
  margin-right: 15px;
}

.icon {
  width: 35px;
  height: 35px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin-right: 20px;
  color: #3c6e86; 
  text-decoration: none;
}

.menu a:hover {
  color: #69bfe7; 
}

.spacer {
  flex: 1 1 auto;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  margin-right: 15px;
  color: #3c6e86; 
}

.header-right a:hover {
  color: #69bfe7; 
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .logo-img {
    margin-bottom: 15px;
  }

  .menu a,
  .header-right a {
    display: block;
    text-align: left;
    margin-top: 10px;
  }

  .header-right {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }

  .mat-toolbar-row {
    flex-wrap: wrap;
  }
}
