<mat-toolbar class="header">
  <nav class="menu"
    *ngIf="(userRoleMessage$ | async) === 'Super Admin' || (userRoleMessage$ | async) === 'Bienvenido empleado'">
    <a [routerLink]="['', { outlets: { auth: ['main'] } }]" class="logo">
      <img src="../../assets/img/logo.png" name="vn_logo" class="logo-img">
    </a>

    <a mat-button
      *ngIf="(userRoleMessage$ | async) === 'Super Admin' || (userRoleMessage$ | async) === 'Bienvenido empleado'"
      [routerLink]="['', { outlets: { auth: ['usuario'] } }]"><mat-icon>person</mat-icon>Usuarios</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['cliente'] } }]"><mat-icon>group</mat-icon>Clientes</a>
    <a mat-button
      [routerLink]="['', { outlets: { auth: ['cuentas'] } }]"><mat-icon>account_balance</mat-icon>Cuentas</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['tarjetas'] } }]"><mat-icon>credit_card</mat-icon>Tarjetas</a>
    <a mat-button [matMenuTriggerFor]="movimientosMenu"><mat-icon>swap_horiz</mat-icon>Movimientos</a>
    <mat-menu #movimientosMenu="matMenu">
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['movimientos'] } }]">Movimientos</button>
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['transferencias'] } }]">Transferencias</button>
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['bizum'] } }]">Bizum</button>
    </mat-menu>

    <a mat-button [matMenuTriggerFor]="movimientosMenuCliente"><mat-icon>laptop_chromebook</mat-icon>Servicios</a>
    <mat-menu #movimientosMenuCliente="matMenu">
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['hipoteca'] } }]">Calcular hipoteca</button>
    </mat-menu>
  </nav>

  <nav class="menu" *ngIf="(userRoleMessage$ | async) === 'Bienvenido cliente'">
    <a [routerLink]="['', { outlets: { auth: ['maincliente'] } }]" class="logo">
      <img src="../../assets/img/logo.png" name="vn_logo" class="logo-img">
    </a>
    <a mat-button
      [routerLink]="['', { outlets: { auth: ['cuentas'] } }]"><mat-icon>account_balance</mat-icon>Cuentas</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['tarjetas'] } }]"><mat-icon>credit_card</mat-icon>Tarjetas</a>
    <a mat-button [matMenuTriggerFor]="movimientosMenuCliente"><mat-icon>swap_horiz</mat-icon>Movimientos</a>
    <mat-menu #movimientosMenuCliente="matMenu">
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['movimientos'] } }]">Movimientos</button>
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['transferencias'] } }]">Transferencias</button>
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['bizum'] } }]">Bizum</button>
    </mat-menu>

    <a mat-button [matMenuTriggerFor]="movimientosMenuCliente"><mat-icon>laptop_chromebook</mat-icon>Servicios</a>
    <mat-menu #movimientosMenuCliente="matMenu">
      <button mat-menu-item [routerLink]="['', { outlets: { auth: ['hipoteca'] } }]">Calcular hipoteca</button>
    </mat-menu>
  </nav>

  <span class="spacer"></span>

  <div class="header-right">
    <a mat-button href="#usuario">{{ Name$ | async }}</a>
    <a id="userRoleMessage" mat-button href="#usuario">{{ userRoleMessage$ | async }}</a>
    <a mat-button href="#icon-user">
      <img src="../../assets/img/icon-user.svg" name="cajamar_logo" class="icon" [ngClass]="userRoleClass$ | async">
    </a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['landing'] } }]">
      <a><mat-icon name="cajamar_logo" id="icon-logout" class="icon">logout</mat-icon></a>
    </a>
  </div>
</mat-toolbar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
