<div class="recuadroverde2">
    <div class="recuadroverde1">
        <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
        </div>
        <div class="div2"><p>Gestión de Clientes</p>
    </div>
  </div>

  <table class="comicGreen">
    <thead>
    <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>DNI</th>
    <th>Email</th>
    <th>Fecha de nacimiento</th>
    <th>Fecha de alta</th>
    <th>Gestionar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>celda1</td><td>cell2_1</td><td>cell3_1</td><td>cell4_1</td><td>cell5_1</td><td>cell6_1</td><td>cell7_1</td></tr>
    <tr>
    <td>cell1_2</td><td>cell2_2</td><td>cell3_2</td><td>cell4_2</td><td>cell5_2</td><td>cell6_2</td><td>cell7_2</td></tr>
    <tr>
    <td>cell1_3</td><td>cell2_3</td><td>cell3_3</td><td>cell4_3</td><td>cell5_3</td><td>cell6_3</td><td>cell7_3</td></tr>
    <tr>
    <td>cell1_4</td><td>cell2_4</td><td>cell3_4</td><td>cell4_4</td><td>cell5_4</td><td>cell6_4</td><td>cell7_4</td></tr>
    <tr>
    <td>cell1_5</td><td>cell2_5</td><td>cell3_5</td><td>cell4_5</td><td>cell5_5</td><td>cell6_5</td><td>cell7_5</td></tr>
    <tr>
    <td>cell1_6</td><td>cell2_6</td><td>cell3_6</td><td>cell4_6</td><td>cell5_6</td><td>cell6_6</td><td>cell7_6</td></tr>
    <tr>
    <td>cell1_7</td><td>cell2_7</td><td>cell3_7</td><td>cell4_7</td><td>cell5_7</td><td>cell6_7</td><td>cell7_7</td></tr>
    <tr>
    <td>cell1_8</td><td>cell2_8</td><td>cell3_8</td><td>cell4_8</td><td>cell5_8</td><td>cell6_8</td><td>cell7_8</td></tr>
    </tbody>
    </table>

  