<div class="recuadro_main">
  <div class="recuadro">
    <div class="recuadro">Añadir Cliente</div>
    <div class="formulario">
      <form>
        <label>Nombre</label><br><br>
        <input type="text" required><br><br>
        <label>DNI</label><br><br>
        <input type="text" required><br><br>
        <label>Núm. de Cuenta</label><br><br>
        <input type="text" required><br><br>
        <label>Núm. de Tarjeta</label><br><br>
        <input type="text" required><br><br>
        <input type="submit" value="Cancelar" id="Cancelar">
        <input type="submit" value="Añadir" id="Añadir">
      </form><br>
    </div>
  </div>
</div>
