.recuadro_main {
  width: 420px;
  height: 500px;
  margin: 0 auto;
  margin-top: 9%;
  border: 1px solid lightgray;
  background-color: white;
}

.recuadro {
  width: 420px;
  height: 30px;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  background-color: #64b7c0;
  display: grid;
  place-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.img {
  display: grid;
  place-items: center;
  justify-content: center;
  margin-top: 5%;
}

.formulario {
  display: grid;
  place-items: center;
  justify-content: center;
  color: #009fac;
  font-size: 12px;
  margin: 30px;
}

input[type=text], [type=password] {
  border: 1px solid #009fac;
  height: 23px;
  width: 200px;
}

input[type=submit] {
    height: 26px;
    width: 101px;
    background-color:#009fac;
    color: white;
    border: 1px solid #009fac;
    cursor: pointer;
    margin: 2px;
  }

input[type=submit]:hover {
    height: 26px;
    width: 101px;
    background-color:white;
    color: #009fac;
    border: 1px solid #009fac;
    cursor: pointer;
    margin: 2px;
  }

p {
    font-size: 12px;
}

p:hover {
    text-decoration: underline;
    cursor: pointer;
}
