<mat-toolbar class="header" color="primary">
  <a mat-button [routerLink]="['', { outlets: { auth: ['landing'] } }]">
    <div class="logo-img"><img src="../../assets/img/logo.png" name="vn_logo" alt="Logo"></div>
  </a>
  <nav class="menu">
    <a mat-button [routerLink]="['', { outlets: { auth: ['login'] } }]">
      <mat-icon>account_balance</mat-icon> Mis cuentas
    </a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['login'] } }]">
      <mat-icon>credit_card</mat-icon> Mis tarjetas
    </a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['login'] } }]">
      <mat-icon>swap_horiz</mat-icon> Mis transferencias
    </a>
  </nav>
  <span class="spacer"></span>
  <div class="header-right">
    <a mat-button [routerLink]="['', { outlets: { auth: ['register'] } }]">Registrate</a>
    <a mat-button [routerLink]="['', { outlets: { auth: ['login'] } }]">Iniciar sesión</a>
  </div>
</mat-toolbar>
