<h2 mat-dialog-title>Modificar información del cliente</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="user-form">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input #input matInput type="text" formControlName="name" placeholder="Introduce nombre completo" readonly (keydown.enter)="onKeyPress($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input #input matInput type="email" formControlName="email" placeholder="Introduce email" readonly (keydown.enter)="onKeyPress($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input #input matInput type="text" formControlName="dni" placeholder="Introduce DNI" (keydown.enter)="onKeyPress($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input #input matInput type="date" formControlName="birth_date" (keydown.enter)="onKeyPress($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <input #input matInput type="text" formControlName="city" placeholder="Introduce ciudad" (keydown.enter)="onKeyPress($event)">
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">Actualizar</button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cerrar</button>
</mat-dialog-actions>
