<h2 mat-dialog-title>Añadir Usuario</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <!-- Campos del formulario -->

    <!-- Campo Usuario -->
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput type="text" formControlName="username" placeholder="Introduce nombre de usuario" required>
      <mat-error *ngIf="userForm.get('username')?.errors?.['required']">
        Debe rellenar el campo nombre de usuario.
      </mat-error>
    </mat-form-field>

    <!-- Campo Contraseña -->
    <mat-form-field appearance="fill" class="password-field">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Introduce contraseña" required>
      <mat-hint class="password-hint">
        <div class="password-hint-container">
          Mínimo:
          <div [ngClass]="{'valid': passwordRequirements['minLength'], 'invalid': !passwordRequirements['minLength']}">
            8 caracteres &nbsp;|
          </div>
          <div [ngClass]="{'valid': passwordRequirements['upperCase'], 'invalid': !passwordRequirements['upperCase']}">
            1 letra mayúscula &nbsp;|
          </div>
          <div [ngClass]="{'valid': passwordRequirements['lowerCase'], 'invalid': !passwordRequirements['lowerCase']}">
            1 letra minúscula &nbsp;|
          </div>
          <div
            [ngClass]="{'valid': passwordRequirements['specialChar'], 'invalid': !passwordRequirements['specialChar']}">
            1 caracter especial
          </div>
        </div>
      </mat-hint>
      <mat-error *ngIf="userForm.get('password')?.errors?.['required']">
        Debe rellenar el campo contraseña.
      </mat-error>
      <mat-error class="password-error" *ngIf="userForm.get('password')?.errors?.['passwordInvalid']">
        <mat-hint class="password-hint">
          <div class="password-hint-container">
            Mínimo:
            <div
              [ngClass]="{'valid': passwordRequirements['minLength'], 'invalid': !passwordRequirements['minLength']}">
              8 caracteres &nbsp;|
            </div>
            <div
              [ngClass]="{'valid': passwordRequirements['upperCase'], 'invalid': !passwordRequirements['upperCase']}">
              1 letra mayúscula &nbsp;|
            </div>
            <div
              [ngClass]="{'valid': passwordRequirements['lowerCase'], 'invalid': !passwordRequirements['lowerCase']}">
              1 letra minúscula &nbsp;|
            </div>
            <div
              [ngClass]="{'valid': passwordRequirements['specialChar'], 'invalid': !passwordRequirements['specialChar']}">
              1 caracter especial
            </div>
          </div>
        </mat-hint>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Introduce nombre completo" required>
      <mat-error *ngIf="userForm.get('name')?.errors?.['required']">
        Debe rellenar el campo nombre.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Introduce email">
      <mat-hint>Introduce un email válido (ej: usuario&#64;vnbank.com)</mat-hint>
      <mat-error *ngIf="userForm.get('email')?.errors?.['required']">
        Debe rellenar el campo email (ej: usuario&#64;vnbank.com)
      </mat-error>
      <mat-error *ngIf="userForm.get('email')?.errors?.['email']">
        Introduce un email válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type" placeholder="Selecciona tipo de usuario">
        <mat-option value="Empleado">Empleado</mat-option>
        <mat-option value="Administrador">Administrador</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.get('type')?.errors?.['required']">
        Debes seleccionar un tipo de usuario.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de alta</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="hire_date" placeholder="Selecciona fecha de alta">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="userForm.get('hire_date')?.errors?.['required']">
        Debes seleccionar la fecha de alta.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid"
    (click)="onSubmit()">Añadir</button>
  <button mat-button (click)="closeDialog()">Cerrar</button>
</mat-dialog-actions>
