<div class="recuadro_main">
  <div class="recuadro">Recuperación de claves</div>
  <div class="img"><img src="../../assets/img/logo_c.png" name="logo_c"></div>
  <div class="formulario">
    <form>
      <label>Email de Recuperación</label><br><br>
      <input type="email" placeholder="Introduce email de recuperación" required><br><br>
      <input type="submit" value="Enviar nueva contraseña">
    </form><br>
    <a id="ProblemasClavesDeAcceso" [routerLink]="['', { outlets: { auth: ['login'] } }]">Iniciar sesión</a>
  </div>
</div>
