<div class="recuadro_main">
    <div class="recuadro">Acceso Administración</div>
    <div class="img"><img src="../../assets/img/logo_c.png" name="logo_c"></div>
        <div class="formulario">
    <form>

        <label>Usuario</label><br>
        <input type="text" required><br><br>

        <label>Contraseña</label><br>
        <input type="password" required><br><br>

        <input type="submit" value="Entrar">

    </form><br>
    <p>¿Problemas con tus claves de acceso?</p>
        </div>

</div>