.capaT {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 999;

    opacity: 0;
    transition: opacity 1s ease; 
}

.capaT.mostrar {
    display: flex; 
    opacity: 1; 
}

.info1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: none; 
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #64b7c0;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: fixed;
    top: -100%; 
    animation: slideDown 0.3s ease forwards; 
}

@keyframes slideDown {
    from {
        top: -100%; 
    }
    to {
        top: 10%; 
    }
}

.info1.ocultar {
    animation: slideUp 0.3s ease forwards; 
}

@keyframes slideUp {
    from {
        top: 10%; 
    }
    to {
        top: -100%; 
    }
}

.info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.info__title {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    flex-grow: 1; 
    
}

.info__close {
    display: inline-flex; /* Usar flex para permitir alineación a la derecha */
    width: auto;
    height: 40px;
    cursor: pointer;
    color: black;
    font-size: 25px;
    margin-left: 70px; /* Alinea a la derecha */

}

.info__close img {
    width: 20px; /* Ajustar el tamaño de la imagen */
    height: 20px; /* Ajustar el tamaño de la imagen */
    color: white;
}


