<mat-card class="bizum-card">
    <mat-card-header>
      <mat-card-title>Enviar Bizum</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="bizumForm" (ngSubmit)="enviarBizum()">
  
        <mat-form-field appearance="fill">
          <mat-label>Cuenta de Origen</mat-label>
          <mat-select formControlName="cuentaOrigen" required>
            <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.id">
              {{ cuenta.account_number }} ({{ cuenta.balance }} €)
            </mat-option>
          </mat-select>
          <mat-error *ngIf="bizumForm.get('cuentaOrigen')?.errors?.['required']">
            Debe seleccionar una cuenta de origen.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Importe (€)</mat-label>
          <input matInput type="number" formControlName="importe" placeholder="0.00" required>
          <mat-error *ngIf="bizumForm.get('importe')?.errors?.['required']">
            Debe introducir un importe.
          </mat-error>
          <mat-error *ngIf="bizumForm.get('importe')?.errors?.['min']">
            El importe mínimo es de 1 €.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Motivo</mat-label>
          <input matInput type="text" formControlName="motivo" placeholder="Introduce el motivo" required>
          <mat-error *ngIf="bizumForm.get('motivo')?.errors?.['required']">
            Debe introducir un motivo.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Destinatario</mat-label>
          <mat-select formControlName="destinatario" required>
            <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.id">
              {{ cuenta.account_number }} ({{ cuenta.balance }} €)
            </mat-option>
          </mat-select>
          <mat-error *ngIf="bizumForm.get('destinatario')?.errors?.['required']">
            Debe introducir un destinatario.
          </mat-error>
        </mat-form-field>
  
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!bizumForm.valid">Enviar Bizum</button>
          <button mat-button (click)="closeModal()">Cerrar</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
  