<app-header></app-header><app-asistente></app-asistente>

<mat-toolbar color="primary">
  <span>Dashboard</span>
</mat-toolbar>

<div class="container">
  <div class="grid-container">
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="16px">
      <mat-grid-tile>
        <mat-card class="card" color="primary">
          <mat-card-title>Saldo Total</mat-card-title>
          <mat-card-content>
            <p>{{ saldoTotal | currency }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card" color="accent">
          <mat-card-title>Cuentas Activas</mat-card-title>
          <mat-card-content>
            <p>{{ cuentasActivas }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card" color="warn">
          <mat-card-title>Tarjetas Activas</mat-card-title>
          <mat-card-content>
            <p>{{ tarjetasActivas }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card" color="primary">
          <mat-card-title>Deuda Total</mat-card-title>
          <mat-card-content>
            <p>{{ deudaTotal | currency }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="row">
    <div class="col-lg-8 mb-4">
      <mat-card>
        <mat-card-title>Operaciones Recientes</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let operacion of operacionesRecientes">
              {{ operacion.descripcion }} - {{ operacion.monto | currency }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 mb-4">
      <mat-card>
        <mat-card-title>Tarjetas</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let tarjeta of tarjetas">
              {{ tarjeta.cardNumber }} - {{ tarjeta.saldo | currency }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
