body {

    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  mat-toolbar {
    background-color: #3f51b5; /* Primary color */
    color: white;
    padding: 10px;
  }
  
  .container {
    padding: 20px;
  }
  
  .grid-container {
    margin-bottom: 20px;
  }
  
  mat-grid-list {
    width: 100%;
    margin: 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5%;
  }
  
  mat-card-content p {
    font-size: 1.5em;
    color: #333;
    margin: 0;
    padding: 5%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-lg-8, .col-lg-4 {
    padding: 0 10px;
  }
  
  .col-lg-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }
  
  .col-lg-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  
  .mb-4 {
    margin-bottom: 20px;
  }
  
  mat-list-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  canvas {
    width: 100%;
    height: 200px;
  }
  