body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  box-sizing: border-box;
  background-color: #e8f3f4;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 40px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  background-color: #ffffff; 
  border-radius: 10px; 
}

.no-shadow {
  box-shadow: none !important;
}

.div1, .div2, .div3, .div4, .div5 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.div1 {
  background-color: #f8f9fa;
}

.div2 {
  background-color: #e9ecef;
}

.div3 {
  background-color: #dee2e6;
}

.div4 {
  background-color: #ced4da;
}

.div5 {
  background-color: #adb5bd;
}

.saldo-card {
  background-color: #4caf50; /* Fondo verde para hacer el saldo total m치s llamativo */
  color: white; /* Texto blanco para mejor contraste */
  display: flex;
  justify-content: center;
  align-items: center;
}

.saldo-total {
  text-align: center;
}

.saldo-total p {
  font-size: 2rem; /* Tama침o de fuente m치s grande para el saldo total */
  font-weight: bold;
  margin: 0;
}

.movimiento-category {
  color: red;
  display: inline;
}

@media (min-width: 576px) {
  .parent {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .div1 { grid-column: 1 / 3; }
  .div2 { grid-column: 1 / 2; }
  .div3 { grid-column: 2 / 3; }
  .div4 { grid-column: 1 / 2; }
  .div5 { grid-column: 2 / 3; }
}

@media (min-width: 768px) {
  .parent {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .div1 { grid-column: 1 / 2; grid-row: 1 / 2; }
  .div2 { grid-column: 1 / 2; grid-row: 2 / 3; }
  .div3 { grid-column: 2 / 3; grid-row: 1 / 2; }
  .div4 { grid-column: 1 / 2; grid-row: 3 / 4; }
  .div5 { grid-column: 2 / 3; grid-row: 2 / 3; }
}

@media (min-width: 1024px) {
  .parent {
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(3, auto);
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 1 / 2 / 2 / 3; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 3 / 1 / 4 / 3; }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.my-cards .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.cards-container-wrapper {
  overflow: hidden; /* Para ocultar el borde de la tarjeta cortada */
  z-index: 10;
}

.cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  scroll-snap-type: x mandatory;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.cards-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.card {
  background-color: #1b96e7;
  border-radius: 15px;
  padding: 15px;
  width: 200px;
  scroll-snap-align: start;
  flex: 0 0 auto; /* Mantener tama침o fijo */
}

.card-info {
  color: white;
}

.card-balance {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-type {
  font-size: 1rem;
  margin-top: 5px;
}

.card-details {
  font-size: 0.875rem;
  margin-top: 10px;
}

.add-card-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

#ingresosChart {
  width: 100%;
  height: 400px;
}
