<app-header></app-header>

<div class="recuadroverde2">
    <div class="recuadroverde1">
      <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
      </div>
      <div class="div2">
        <p>Gestión de Cuentas </p>
      </div>
  </div>

<table class="TablaCJ">
    <thead>
        <tr>
            <th>ID Cuenta</th>
            <th>Número de cuenta</th>
            <th>ID Cliente</th>
            <th>Gestionar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><app-botonestabla></app-botonestabla></td>
        </tr>
    </tbody>
</table>