<div class="recuadro_main">
  <div>
    <div class="recuadro">Acceso a la aplicación</div><br>
    <div class="img"><img src="../../assets/img/logo.png" name="logo_c"></div><br><br>
    <div class="formulario">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div id="recuadro" class="form-group">
          <label for="email">Correo Electrónico</label><br><br>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingrese su correo electrónico">
          <div id="recuadro-main" class="text-danger" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            <div id="recuadro-1" *ngIf="loginForm.get('email')?.errors?.['required']">El correo electrónico es requerido.</div>
            <div id="recuadro-2" *ngIf="loginForm.get('email')?.errors?.['email']">Correo electrónico no válido.</div>
          </div>
        </div><br>
        <div id="recuadro-username" class="form-group">
          <label for="password">Contraseña</label><br><br>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña">
          <div id="recuadro-username-main" class="text-danger" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <div id="recuadro-username-1" *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</div>
            <div id="recuadro-username-2" *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 7 caracteres.</div>
          </div>
        </div><br>
        <label class="checkbox-container"><input type="checkbox" name="checkbox" value="value"><span class="checkmark"></span>Recuérdame</label><br>
        <input type="submit" class="btn btn-primary" value="Iniciar sesión">
      </form><br>

      <a id="Registro" [routerLink]="['', { outlets: { auth: ['register'] } }]">¿No tienes cuenta? Regístrate aquí</a>
    </div>
  </div>
</div>
