<div class="chatbot-container">
  <button #toggleBtn id="chatbot-toggle" class="chatbot-toggle-btn" (click)="toggleChatbot()"></button>
  <div #chatbotBox id="chatbot-box" class="chatbot-box" [ngClass]="{'show': isChatbotVisible}">
    
      <div class="chatbot-header">
          <span #closeBtn id="chatbot-close" class="chatbot-close-btn" (click)="toggleChatbot()">x</span>
      </div>
      
      <div class="chatbot-content">

          <div id="chat-display" #chatDisplay>

              <!-- Aquí se mostrará el contenido del chatbot -->
          </div>
          <button (click)="volver()"><img class="back" src="../../../assets/img/volver.png"></button>
      </div>
  </div>
</div>
