<div class="circle-container">
  <div class="circle-content">
    <img src="../../../assets/img/memoji.png" name="cajamar_logo" class="central-image">
    <div class="icon-container">
      <div class="icon icon-1" data-info="Perfil de Usuario: Gestiona tu cuenta de VNBank con facilidad, actualiza tus datos personales y controla tu seguridad.">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="icon icon-2" data-info="Grupos de Clientes: Únete a grupos exclusivos y obtén acceso a ofertas y promociones especiales de VNBank.">
        <mat-icon>group</mat-icon>
      </div>
      <div class="icon icon-3" data-info="Servicios Bancarios: Disfruta de una amplia gama de servicios bancarios, desde cuentas de ahorro hasta inversiones con VNBank.">
        <mat-icon>account_balance</mat-icon>
      </div>
      <div class="icon icon-4" data-info="Tarjetas de Crédito: Solicita y gestiona tus tarjetas de crédito, con recompensas y beneficios únicos en VNBank.">
        <mat-icon>credit_card</mat-icon>
      </div>
      <div class="icon icon-5" data-info="Recibos y Facturas: Paga tus facturas y gestiona tus recibos de manera eficiente y segura con VNBank.">
        <mat-icon>receipt</mat-icon>
      </div>
      <div class="icon icon-6" data-info="Configuración: Personaliza tu experiencia bancaria, ajusta tus preferencias y configura alertas de seguridad en VNBank.">
        <mat-icon>settings</mat-icon>
      </div>
    </div>
  </div>
</div>
