<app-header></app-header>

<div class="recuadroverde2">
  <div class="recuadroverde1">
    <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
    </div>
    <div class="div2">
      <p>Gestión de Clientes</p>
    </div>
</div>

<app-btn-add-user></app-btn-add-user>

<table class="TablaCJ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Número de cuenta</th>
            <th>Número de tarjeta</th>
            <th>Correo electrónico</th>
            <th>Fecha de nacimiento</th>
            <th>Fecha de alta</th>
            <th>Gestionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.numero_cuenta }}</td>
            <td>{{ cliente.numero_tarjeta }}</td>
            <td>{{ cliente.correo_electronico }}</td>
            <td>{{ cliente.fecha_nacimiento }}</td>
            <td>{{ cliente.fecha_alta }}</td>
            <td><app-botonestabla></app-botonestabla></td>
        </tr>
    </tbody>
</table>
