<div class="recuadro_main">
  <div class="recuadro">Recuperación de claves</div>
  <div class="img"><img src="../../assets/img/logo_c.png" name="logo_c"></div>
  <div class="formulario">
    <form class="formulario" *ngIf="recoveryForm" [formGroup]="recoveryForm" (ngSubmit)="sendRecoveryEmail()">
      <div id="recuadro" class="form-group">
        <label for="email">Email de Recuperación</label><br><br>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Introduce email de recuperación">
        <div id="recuadro-main" *ngIf="recoveryForm.get('email')?.invalid && (recoveryForm.get('email')?.dirty || recoveryForm.get('email')?.touched)" class="text-danger">
          <div id="recuadro-1" *ngIf="recoveryForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio</div>
          <div id="recuadro-2" *ngIf="recoveryForm.get('email')?.errors?.['email']">El correo electrónico ingresado no es válido</div>
        </div>
      </div><br>
      <input type="submit" id="ProblemasClavesDeAcceso" class="btn btn-primary" [disabled]="recoveryForm.invalid" value="Enviar nueva contraseña">
    </form><br>
    <a id="ProblemasClavesDeAcceso" [routerLink]="['', { outlets: { auth: ['login'] } }]">Iniciar sesión</a>
  </div>
</div>
