<app-header></app-header>

<div class="recuadroverde2">
  <div class="recuadroverde1">
    <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
    </div>
    <div class="div2">
      <p>Gestión de Usuarios </p>
    </div>
  </div>

  <div class="button-container">
    <app-btn-add-user></app-btn-add-user>
  </div>

  <table class="TablaCJ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Correo electrónico</th>
        <th>Tipo</th>
        <th>Fecha de alta</th>
        <th>Gestionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.type }}</td>
        <td>{{ usuario.created_at | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td><app-btn-mod-user [usuario]="usuario"></app-btn-mod-user><app-btn-del-user
            [usuario]="usuario"></app-btn-del-user></td>
      </tr>
    </tbody>
  </table>
  <app-btn-save-users></app-btn-save-users>
