.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 8vw;
  margin-top: 6vh;
}

.icon-users {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}

.div1 {
  position: absolute;
  bottom: 10%;
  left: 6%;
  top: 9%;
  display: flex;
}

.div2 {
  position: absolute;
  left: 9.5%;
  top: 8.4%;
  display: block;
  width: 300px;
  font-size: 20px;
  color: white;
}

img {
  width: 40px;
  height: 40px;
}

p {
  margin-top: 20px;
}

/* Estilo base para la tabla */
.table {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: var(--mat-table-background-color);
}

/* Estilos específicos para las filas de la tabla */
.table tr {
  color: var(--mat-table-row-item-label-text-color);
  border-color: var(--mat-table-row-item-outline-color);
}

/* Estilo para el hover en las filas */
.table tr:hover {
  background-color: #b0bec5; /* Cambia este color según tus preferencias */
  cursor: pointer; /* Opcional: cambia el cursor para indicar interactividad */
}

@media (max-width: 600px) {
  .mat-header-cell,
  .mat-cell {
    padding: 8px;
  }

  .button-container {
    flex-direction: column;
    align-items: stretch;
  }
}
