<app-header></app-header>

  <div class="contenedor">

    <div class="div1"></div>

    <div class="div2">
      <form action="">
        <label for="cliente">Cliente</label><br>
        <input type="text" placeholder="Introduce identificación">
        <button>Buscar</button>
      </form>
    </div>

    <div class="div3">
      <form action="">
        <label for="cliente">Cuenta</label><br>
        <input type="text" placeholder="Introduce número de cuenta">
        <button>Buscar</button>
      </form>
    </div>
  </div>


