<app-header></app-header>

<body>
  <div class="parent">
    <div class="div1 my-cards">
      <div class="header">
        <div class="title">My Cards</div>
        <button class="add-card-button">+ Add New Card</button>
      </div>
      <!-- Aquí añadimos las tarjetas de crédito -->
      <div class="cards-container-wrapper">
        <div class="cards-container">
          <div class="card card-1">
            <div class="card-info">
              <div class="card-balance">$147,000.00</div>
              <div class="card-type">VISA</div>
              <div class="card-details">
                <div class="card-holder">Jamshidbek Tashpulotov</div>
                <div class="card-expiry">01/21</div>
              </div>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-info">
              <div class="card-balance">$147,000.00</div>
              <div class="card-type">VISA</div>
              <div class="card-details">
                <div class="card-holder">Jamshidbek Tashpulotov</div>
                <div class="card-expiry">01/21</div>
              </div>
            </div>
          </div>
          <div class="card card-1">
            <div class="card-info">
              <div class="card-balance">$147,000.00</div>
              <div class="card-type">VISA</div>
              <div class="card-details">
                <div class="card-holder">Jamshidbek Tashpulotov</div>
                <div class="card-expiry">01/21</div>
              </div>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-info">
              <div class="card-balance">$147,000.00</div>
              <div class="card-type">VISA</div>
              <div class="card-details">
                <div class="card-holder">Jamshidbek Tashpulotov</div>
                <div class="card-expiry">01/21</div>
              </div>
            </div>
          </div>
          <!-- Más tarjetas si es necesario -->
        </div>
      </div>
    </div>

    <div class="div2">Movimientos</div>
    <div class="div3">Gastos</div>
    <div class="div4">Ingresos</div>
    <div class="div5">Gasto Total</div>
    <div class="div6">Límite de Gasto</div>
  </div>
</body>
