<app-header></app-header>

<div class="recuadroverde2">
  <div class="breadcrumbs">
    <div class="div2">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
  </div>

<div class="button-container">
  <app-btn-add-client></app-btn-add-client>
  <app-btn-save-client></app-btn-save-client>
</div>

  <table class="TablaCJ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Correo electrónico</th>
        <th>Ciudad</th>
        <th>Fecha de nacimiento</th>
        <th>Fecha de alta</th>
        <th>Gestionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.dni }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.city }}</td>
        <td>{{ cliente.birth_date | date: 'yyyy-MM-dd' }}</td>
        <td>{{ cliente.created_at | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td><div class="button-container2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
          <app-btn-mod-client [cliente]="cliente"></app-btn-mod-client>
          <app-btn-del-client [cliente]="cliente"></app-btn-del-client></div>
        </td>
      </tr>
    </tbody>
  </table>

  <br><br><br><br>
