<app-header></app-header>

<div class="recuadroverde2">
  <div class="recuadroverde1">
    <div class="div1"><img id="foto1" src="../../assets/img/GestionClientes.png">
    </div>
    <div class="div2">
      <p>Gestión de Clientes <app-btn-add-client></app-btn-add-client></p>
    </div>
  </div>

  <table class="TablaCJ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Correo electrónico</th>
        <th>Ciudad</th>
        <th>Fecha de nacimiento</th>
        <th>Fecha de alta</th>
        <th>Gestionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.dni }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.city }}</td>
        <td>{{ cliente.birth_date | date: 'yyyy-MM-dd' }}</td>
        <td>{{ cliente.created_at | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td><app-btn-mod-client [cliente]="cliente"></app-btn-mod-client><app-btn-del-client [cliente]="cliente"></app-btn-del-client></td>
      </tr>
    </tbody>
  </table>
