<h2 mat-dialog-title>Modificar Cuenta</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="user-form">
    <input type="hidden" formControlName="id">
    <mat-form-field appearance="fill">
      <mat-label>Número de Cuenta</mat-label>
      <input matInput type="text" formControlName="account_number" placeholder="Introduce número de cuenta">
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">Actualizar</button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cerrar</button>
</mat-dialog-actions>
